section.about
  .container
    +blockBox("What me do", "Story about us", "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque sed magnam cum quibusdam asperiores sunt? Unde odio in error nesciunt sint officiis sunt laborum repellendus velit sapiente facilis, pariatur et?")
    .about-list
      +aboutItem({
        src: "./images/img-about1.png",
        alt: "about",
        icon: "fa fa-users",
        title: "Supper team"
      })
      +aboutItem({
        src: "./images/img-about2.png",
        alt: "about",
        icon: "fa fa-users",
        title: "Supper team"
      })
      +aboutItem({
        src: "./images/img-about3.png",
        alt: "about",
        icon: "fa fa-users",
        title: "Supper team"
      })
      
      