footer.footer
  .container
    .footer-top 
      .footer-column
        a(href="#").footer-heading.footer-heading--logo Rim JR 
        p.footer-desc.text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur aperiam ratione optio velit illo deleniti, quo dolore. Minus optio inventore minima quibusdam totam natus, doloribus porro sed, neque error incidunt.
        p.footer-follower <strong>15k</strong> follower 
        .footer-social 
          span.text Follow us: 
          .footer-social-list
            a.footer-social-icon(href="#")
              i.fab.fa-facebook
            a.footer-social-icon(href="#")
              i.fab.fa-twitter
            a.footer-social-icon(href="#")
              i.fab.fa-instagram
            a.footer-social-icon(href="#")
              i.fab.fa-pinterest
            a.footer-social-icon(href="#")
              i.fab.fa-youtube
            a.footer-social-icon(href="#")
              i.fab.fa-google
        form.footer-form(action="javascript:void(0)")
          input(type="email" placeholder="Your email").footer-form-input
          button.footer-form-button Subscribe
      .footer-column
        h3.footer-heading Blogs 
        a(href="#").footer-blog 
          img.footer-blog-image(src="./images/img-blogs1.png")
          .footer-blog-info 
            h4.footer-blog-title Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            span.footer-blog-date.text.text--light Jan 9, 2021
        a(href="#").footer-blog 
          img.footer-blog-image(src="./images/img-blogs2.png")
          .footer-blog-info 
            h4.footer-blog-title Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            span.footer-blog-date.text.text--light Jan 9, 2022
        a(href="#").footer-blog 
          img.footer-blog-image(src="./images/img-blogs3.png")
          .footer-blog-info 
            h4.footer-blog-title Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            span.footer-blog-date.text.text--light Jan 9, 2023
      .footer-column
        h3.footer-heading Instagram 
        .footer-images 
          .footer-image
            img(src="./images/img-instagram1.png")
          .footer-image
            img(src="./images/img-instagram1.png")
          .footer-image
            img(src="./images/img-instagram1.png")
          .footer-image
            img(src="./images/img-instagram1.png")
          .footer-image
            img(src="./images/img-instagram1.png")
          .footer-image
            img(src="./images/img-instagram1.png")
          .footer-image
            img(src="./images/img-instagram1.png")
          .footer-image
            img(src="./images/img-instagram1.png")
          .footer-image
            img(src="./images/img-instagram1.png")
          a(href="#").footer-image-more.text.text--light View more photos  
          
    .footer-bottom &copy; 2022 Rim JR by <span>TLong</span>
