section.number
  .container
    .number-list
      .number-item
        h4.number-item-count 42
        span.number-item-text Web design project
      .number-item
        h4.number-item-count 123
        span.number-item-text Happy Client
      .number-item
        h4.number-item-count 15
        span.number-item-text Award Winner
      .number-item
        h4.number-item-count 99
        span.number-item-text Cup Of Coffe
      .number-item
        h4.number-item-count 24
        span.number-item-text Members