section.people 
  .container 
    +blockBox("Happy Clients", "What people say")
    ul.people-list
      +peopleItem("./images/img-people1.png", "Natthew Dix", "Graphic Design")
      +peopleItem("./images/img-people2.png", "Rim JR.", "Backend Developer")
      +peopleItem("./images/img-people3.png", "Neymar da Silva", "Frontend Developer")
      +peopleItem("./images/img-people4.png", "Neymar Jr.", "Devops")
      
      