section.quote
  .container
    .quote-container
      //- i.fal.fa-angle-left.quote-arrow-left.quote-arrow
      +quoteItem
      +quoteItem
      +quoteItem
      //- i.fal.fa-angle-right.quote-arrow-right.quote-arrow