section.service
  .container
    +blockBox("We work with", "Amazing Services")
    .service-container
      .service-list
        +serviceItem("../images/img-service-icon1.png", "Photography", "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, eius iure. ")    
        +serviceItem("../images/img-service-icon2.png", "Web design", "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, eius iure. ")    
        +serviceItem("../images/img-service-icon3.png", "Creativity", "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, eius iure. ")                 
      .service-list
        +serviceItem("../images/img-service-icon4.png", "SEO", "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, eius iure. ")      
        +serviceItem("../images/img-service-icon5.png", "CSS/HTML", "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, eius iure. ")      
        +serviceItem("../images/img-service-icon6.png", "Digital", "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, eius iure. ")   