section.team
  .container 
    +blockBox("Who we are", "Meet our team", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt molestiae dolores unde repellat ipsam quaerat officiis, officia illo doloribus in adipisci blanditiis tempora eligendi quisquam hic vitae et, numquam minus?")
    .team-list 
      +teamItem()
        +teamSocial
      +teamItem()
        +teamSocial
      +teamItem()
        +teamSocial
section.brand
  .container
    img(src="../images/img-logos.png")