section.work 
  .container 
    +blockBox("What we do", "Some of our work","Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam nihil tempore corrupti? Consequatur ad in eveniet accusamus atque, neque molestias autem molestiae, facilis velit cumque possimus doloremque? Deserunt, quia nisi.")
  //- .work-list 
  //-   .work-column
  //-     +workItem("./images/img-work1.png", "fa fa-home", "Creatively Designed", "Lorem ipsum dolor sit")     
  //-     +workItem("./images/img-work2.png", "fa fa-home", "Creatively Designed", "Lorem ipsum dolor sit")         
  //-   .work-column
  //-     +workItem("./images/img-work3.png", "fa fa-home", "Creatively Designed", "Lorem ipsum dolor sit")         
  //-     +workItem("./images/img-work4.png", "fa fa-home", "Creatively Designed", "Lorem ipsum dolor sit")         
  //-   .work-column
  //-     +workItem("./images/img-work5.png", "fa fa-home", "Creatively Designed", "Lorem ipsum dolor sit", "work-item--full")                 
  //-   .work-column
  //-     +workItem("./images/img-work6.png", "fa fa-home", "Creatively Designed", "Lorem ipsum dolor sit")         
  //-     +workItem("./images/img-work7.png", "fa fa-home", "Creatively Designed", "Lorem ipsum dolor sit")         
  .work-grid
    +workItem("./images/img-work1.png", "fa fa-home", "Creatively Designed", "Lorem ipsum dolor sit")     
    +workItem("./images/img-work2.png", "fa fa-home", "Creatively Designed", "Lorem ipsum dolor sit")         
    +workItem("./images/img-work3.png", "fa fa-home", "Creatively Designed", "Lorem ipsum dolor sit")         
    +workItem("./images/img-work4.png", "fa fa-home", "Creatively Designed", "Lorem ipsum dolor sit")         
    +workItem("./images/img-work5.png", "fa fa-home", "Creatively Designed", "Lorem ipsum dolor sit", "work-item--full")                 
    +workItem("./images/img-work6.png", "fa fa-home", "Creatively Designed", "Lorem ipsum dolor sit")         
    +workItem("./images/img-work7.png", "fa fa-home", "Creatively Designed", "Lorem ipsum dolor sit")         